<div class="w-11/12 pt-10 mx-auto flex flex-col">
  <h1 class="text-3xl font-bold">Create a Workout</h1>
  <div class="workout_start mt-7 flex flex-col">
    <h3 class="text-lg">Start by selecting exercises</h3>
    <p class="text-xs">
    (Don't worry you can add/remove exercises after as well)
    </p>
    <div class="mt-5">
      <% if current_user.exercises.empty? %>
        <p>It looks like you don't have any exercises created, click <%= link_to "here", exercises_path, class: "text-red-300 hover:underline" %> to create some!</p>
      <% else %>
        <%= form_with model: @workout do |form| %>

          <ul class="flex flex-col mt-10">
            <% current_user.exercises.each do |exercise| %>
              <div class="flex flex-row justify-between">
                <li class="flex flex-col justify-between">
                  <%= exercise.name %>
                </li>
                <%= check_box_tag 'workout[exercises][]', exercise.id, class: "toggle" %>
              </div>
              <div class="divider divider-neutral"></div>
            <% end %>
          </ul>

            <%= form.submit class: 'btn btn-primary' %>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
