<div class="w-11/12 mt-10 mx-auto flex flex-col">

  <div class="flex flex-row justify-between items-center">
    <h2 class="text-3xl font-bold shrink text-primary"><%= @workout.name %></h2>

    <%= link_to edit_workout_path(@workout) do %>
      <div class="btn btn-primary mt-3">
        Edit this workout
      </div>
    <% end %>
  </div>

  <span class="mt-4"><%= local_time(@workout.created_at) %></span>

    <% if @workout.template_id.present? %>
      <%= render "workouts/template_workout_view", workout: @workout, trainings: @trainings %>
    <% else %>
      <%= render "workouts/workout_view", workout: @workout, trainings: @trainings %>
    <% end %>
</div>

