<div class="uppercase mx-auto flex flex-col w-11/12 justify-center items-center">

  <div class="mx-auto w-max h-auto">
    <%= image_tag "/assets/gainloglogo.svg" %>
  </div>

<h2 class="mx-auto mt-5 mb-10">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col"}) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full text-black"%>
  </div>

  <div class="field mt-5">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "w-full text-black"%>
  </div>

  <div class="field mt-5">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full text-black" %>
  </div>

  <div class="actions btn btn-primary mt-4">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
  <div class="mt-5">
    <%= render "devise/shared/links"%>
  </div>
</div>
