<div class="uppercase mx-auto w-11/12 flex flex-col justify-end items-center">

  <div class="mx-auto w-max h-auto">
    <%= image_tag "/assets/gainloglogo.svg" %>
  </div>

  <h2 class="mx-auto mt-5 mb-10">Change your password</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "flex flex-col", method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field mt-4">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions btn btn-primary mt-4 mb-4">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
