<!DOCTYPE html>
<html data-theme="dracula">
  <head>
    <title>RubyGainLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" %>
    <script src="https://kit.fontawesome.com/f7174767c6.js" crossorigin="anonymous"></script>
    <!--
      If using a TypeScript entrypoint file:
      vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
      vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
    <%= javascript_importmap_tags %>

  </head>

  <body class="bg-primary: w-screen text-slate-200">
    <main class="container w-full h-screen mx-auto">
      <%= yield %>

      <!-- These have been commented out, if need them manually add to your views -->
      <!-- <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->
    </main>
  </body>
</html>
